
{% extends 'main/layoute.html' %}

{% block title %}
     Добавить новость
{% endblock %}

{% block content%}


<div class="container mt-5">
    <div class="card shadow-sm p-4">
        <h2 class="mb-4 text-center">Добавить новость</h2>

        <form method="post">

            {% csrf_token %}  <! это обязательно, чтобы не вылазила ошибка CSRF. Для прохождения проверки >

            <div class="mb-3">
                <label class="form-label">Заголовок новости</label>
                {{form.title}} <! из models.py, эти же названия полей прописаны в файле forms.py>
            </div>
            <div class="mb-3">
                <label class="form-label">Краткое описание</label>
                {{form.short_description}} <! из models.py, эти же названия полей прописаны в файле forms.py>
            </div>
            <div class="mb-3">
                <label class="form-label">Содержание новости</label>
                {{form.text}} <! из models.py, эти же названия полей прописаны в файле forms.py>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label class="form-label">Дата</label>
                    {{form.pub_date}} <! из models.py, эти же названия полей прописаны в файле forms.py>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">Время</label>
                    {{form.pub_date}} <! из models.py, эти же названия полей прописаны в файле forms.py>
                </div>
            </div>
            <button type="submit" class="btn btn-primary w-100">Добавить новость</button>
        </form>
    </div>
</div>


{% endblock %}