
{% extends 'main/layoute.html' %}

{% block title %}
     Главные  новости
{% endblock %}

{% block content%}
    <h1> Самые главные, очень важные и нужные, интересные новости из файла super_news.html </h1>
    {% for new in news %}
	    <div>
		    <h3> {{ new.title }} </h3> <! new -переменная,  title из файла 0001_initial>
		    <p> {{ new.short_description }} </p> <! new -переменная, short_description из файла 0001_initial>
            <p> {{ new.text }} </p> <! new -переменная, text из файла 0001_initial>
            <p> {{ new.pub_date }} </p> <! new -переменная, pub_date из файла 0001_initial >
	    </div>
    {% endfor %}
{% endblock %}