<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}"> Моя страница </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Главная</a></li> <! Можно делать как во Flask href="/" >
                <li class="nav-item"><a class="nav-link" href="{% url 'about us' %}">Обо мне</a></li> <! Можно делать как во Flask href="/адрес URL" >
                <li class="nav-item"><a class="nav-link" href="{% url 'Uslugi' %}">Услуги</a></li> <! Можно делать как во Flask href="/адрес URL" >
                <li class="nav-item"><a class="nav-link" href="{% url 'мои контакты' %}">Контакты</a></li> <! Можно делать как во Flask href="/адрес URL" >
                <li class="nav-item"><a class="nav-link" href="{% url 'Новости' %}">Новости</a></li> <! Можно делать как во Flask href="/адрес URL" >
            </ul>
        </div>
    </div>
</nav>